.card-head{
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  height: fit-content;
}

.lists .list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	list-style: none;
	margin: 4px 0px;
}